snippet method
	" Method: ${1:method name} {{{2
	
	function! s:method_${1}() abort dict
	
	endfunction
	
	
snippet section
	" Section: ${1:section name} {{{1
	
	
	
snippet generic
	" ${1:group}: ${2:section title} {{{${3:1}
	
	
	
	" }}}${3}

