[submodule "bundle/html5-syntax.vim"]
	path = bundle/html5-syntax.vim
	url = git://github.com/othree/html5-syntax.vim.git
	update = rebase
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
	update = rebase
[submodule "bundle/cpan.vim"]
	path = bundle/cpan.vim
	url = https://github.com/c9s/cpan.vim.git
	update = rebase
[submodule "bundle/auto_mkdir"]
	path = bundle/auto_mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
	update = rebase
[submodule "bundle/perlhelp-vim"]
	path = bundle/perlhelp-vim
	url = git://github.com/LStinson/perlhelp-vim.git
	update = rebase
[submodule "bundle/tmux.vim"]
	path = bundle/tmux.vim
	url = git://github.com/zaiste/tmux.vim.git
	update = rebase
