[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	update = rebase
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	update = rebase
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = git://github.com/mhinz/vim-signify.git
	update = rebase
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	update = rebase
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
	update = rebase
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
	update = rebase
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
	update = rebase
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
	update = rebase
[submodule "bundle/gitolite.vim"]
	path = bundle/gitolite.vim
	url = https://github.com/tmatilai/gitolite.vim.git
	update = rebase
[submodule "bundle/vim-pinpoint"]
	path = bundle/vim-pinpoint
	url = https://github.com/fmoralesc/vim-pinpoint.git
	update = rebase
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	update = rebase
[submodule "bundle/JSON.vim"]
	path = bundle/JSON.vim
	url = git://github.com/argent-smith/JSON.vim.git
	update = rebase
[submodule "bundle/log4perl.vim"]
	path = bundle/log4perl.vim
	url = git://github.com/vim-scripts/log4perl.vim.git
	update = rebase
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
	update = rebase
[submodule "bundle/deb.vim"]
	path = bundle/deb.vim
	url = git://github.com/vim-scripts/deb.vim.git
	update = rebase
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	update = rebase
[submodule "bundle/vim-pipe"]
	path = bundle/vim-pipe
	url = git://github.com/krisajenkins/vim-pipe.git
	update = rebase
[submodule "bundle/tracwiki"]
	path = bundle/tracwiki
	url = git://github.com/vim-scripts/tracwiki.git
	update = rebase
[submodule "bundle/vitra"]
	path = bundle/vitra
	url = git://github.com/nsmgr8/vitra.git
	update = rebase
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
	update = rebase
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
	update = rebase
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
	update = rebase
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
	update = rebase
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	update = rebase
[submodule "cranky/git-wip"]
	path = cranky/git-wip
	url = git://github.com/bartman/git-wip.git
	update = rebase
[submodule "bundle/VimRepress"]
	path = bundle/VimRepress
	url = git://github.com/vim-scripts/VimRepress.git
	update = rebase
[submodule "bundle/puppet-syntax-vim"]
	path = bundle/puppet-syntax-vim
	url = git://github.com/puppetlabs/puppet-syntax-vim.git
	update = rebase
[submodule "bundle/html5-syntax.vim"]
	path = bundle/html5-syntax.vim
	url = git://github.com/othree/html5-syntax.vim.git
	update = rebase
[submodule "bundle/jquery.vim"]
	path = bundle/jquery.vim
	url = git://github.com/nono/jquery.vim.git
	update = rebase
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
	update = rebase
[submodule "bundle/cpan.vim"]
	path = bundle/cpan.vim
	url = https://github.com/c9s/cpan.vim.git
	update = rebase
[submodule "bundle/AsyncCommand"]
	path = bundle/AsyncCommand
	url = git://github.com/vim-scripts/AsyncCommand.git
	update = rebase
[submodule "bundle/auto_mkdir"]
	path = bundle/auto_mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
	update = rebase
[submodule "bundle/perlhelp-vim"]
	path = bundle/perlhelp-vim
	url = git://github.com/LStinson/perlhelp-vim.git
	update = rebase
[submodule "bundle/vim-GitHubDashBoard"]
	path = bundle/vim-GitHubDashBoard
	url = git://github.com/lukaszkorecki/vim-GitHubDashBoard.git
	update = rebase
[submodule "bundle/tmux.vim"]
	path = bundle/tmux.vim
	url = git://github.com/zaiste/tmux.vim.git
	update = rebase
